{% extends "pizza/layout.html" %}


{% block body %}
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <div>
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <label for="name">First Name</label><br>
            <input type="text" name="firstname" id=""><br>
            <label for="name">Last Name</label><br>
            <input type="text" name="lastname" id=""><br>
            <label for="name">User Name</label><br>
            <input type="text" name="username" id=""><br>
            <label for="name">Email Address</label><br>
            <input type="email" name="emailaddress" id=""><br>
            <label for="name">Password</label><br>
            <input type="password" name="password1" id=""><br>
            <label for="name">Confirm Password</label><br>
            <input type="password" name="password2" id="">
            <input type="submit" value="Signup">

        </form>
    </div>
    
{% endblock %}